img.picto {
  width: 80px;
}

div.card:hover .card-header {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
/* sm */
@media (min-width: 768px) {
  img.picto {
    max-width: 125px;
  }
}
/* md */
@media (min-width: 992px) {
  img.picto {
    max-width: 100px;
  }
}
/* lg */
@media (min-width: 1200px) {
  img.picto {
    max-width: 100px;
  }
}
