@import "../../Colors.scss";
.questions-counter-dot {
  color: $gray-600;
  font-size: 36px;
  line-height: 1;
  margin: 0 7px;
  opacity: 0.4;
  text-shadow: none;
  transition: opacity 0.5s ease, text-shadow 0.5s ease;
  will-change: opacity, text-shadow;
  //  cursor: pointer;
}

.questions-counter-dot.active {
  color: $primary;
  opacity: 1;
  text-shadow: 0 0 2px;
}
