@import "../../../Colors.scss";

#map-filter {
  max-height: calc(100vh - 56px);
  overflow: scroll;
}

.text-structure {
  font-family: "Open Sans", Arial, sans-serif !important;
}

@media (max-width: 767px) {
  .dimension {
    height: 300px;
  }
}

@media (max-width: 1199px) {
  tbody {
    overflow-y: scroll;
    height: calc(100vh - 56px);
    width: 100%;
  }
}

.list-group-item {
  padding: 0.3rem 0.25rem !important;
}
