.bg-header {
  background-image: url(../images/medicine.svg) !important;
  height: calc(100vh - 56px);
}
.bg-header {
  background-image: none;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-content {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
