.indicators {
  text-align: center;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #cccccc;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4caf50;
}
