.bg-directions {
  background-image: url("/images/illustrations/directions.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50vh;
}

// Color System
@import "../Colors.scss";

.hint-checkbox {
  //border-left: 2px solid $gray-600;
}

/* sm */
@media (min-width: 768px) {
  .bg-toy {
    background-size: cover;
  }
}
/* md */
@media (min-width: 992px) {
  .bg-toy {
  }
}
/* lg */
@media (min-width: 1200px) {
  .bg-toy {
  }
}
