.bg-directions {
  background-image: url("/images/illustrations/directions.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 42vh;
}

// Color System
@import "../Colors.scss";

.hint-checkbox {
  //border-left: 2px solid $gray-600;
}
