/*
NONAME PROJECT THEME 0.1 
Bootstrap SASS variables list available here :
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
*/

/* * * * * * * * * * * * * */
/* BS VARIABLES OVERRIDES  */
/* * * * * * * * * * * * * */

// Google font import
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// Font family
$font-family-sans-serif: "Open Sans", Arial, sans-serif !default;
$headings-font-family: "Open Sans", Arial, sans-serif !default;

// Font size and color
$font-size-base: 1rem !default; // equals `16px`
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$headings-font-weight: 700 !default;

// Color System
@import "./Colors.scss";

// Body colors
$body-bg: $white !default;
$body-color: $gray-900 !default;
$headings-color: null !default;
$text-muted: $gray-600 !default;

// Theme options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;

// Link colors
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
$emphasized-link-hover-darken-percentage: 15% !default;

// Grid, gutters, spacing and borders
$grid-gutter-width: 30px !default;
$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;
$rounded-pill: 50rem !default;
$spacer: 1rem !default;

// Input & buttons size
$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;

// Forms
$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;
$input-color: $gray-700 !default;
$input-border-color: $gray-400 !default;
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075) !default;
$input-placeholder-color: $gray-600 !default;
$input-plaintext-color: $body-color !default;

// Nav & Navbar
$nav-link-padding-y: 0.5rem !default;
$nav-link-padding-x: 1rem !default;
$navbar-padding-y: $spacer / 2 !default;
$navbar-padding-x: $spacer !default;
$navbar-dark-color: rgba($white, 0.5) !default;
$navbar-dark-hover-color: rgba($white, 0.75) !default;
$navbar-dark-active-color: $white !default; // Active + brand color
$navbar-light-color: rgba($black, 0.5) !default;
$navbar-light-hover-color: rgba($black, 0.7) !default;
$navbar-light-active-color: rgba($black, 0.9) !default; // Active + brand

// Jumbotron
$jumbotron-padding: 2rem !default;
$jumbotron-color: null !default;
$jumbotron-bg: $gray-200 !default;

// Alerts colors (- 10 to 10)
$alert-bg-level: -9 !default;
$alert-border-level: -7 !default;
$alert-color-level: 2 !default;

// Alerts style
$alert-padding-y: 0.75rem !default;
$alert-padding-x: 1.25rem !default;
$alert-margin-bottom: 1rem !default;
$alert-border-radius: $border-radius-sm !default;
$alert-link-font-weight: $font-weight-bold !default;
$alert-border-width: $border-width !default;

// Modal
$modal-backdrop-bg: $white !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;

// Cards
$card-spacer-y: 0.75rem / 2 !default;
$card-spacer-x: 1.25rem / 2 !default;
$card-border-radius: 0 !default;
$card-border-color: rgba($black, 0.075) !default;
$card-inner-border-radius: 0 !default;
$card-cap-bg: $gray-100 !default;
$card-bg: $white !default;

/* * * * * * * * * * * * * */
/*  BOOTSTRAP 4.3 IMPORT   */
/* * * * * * * * * * * * * */

@import "../node_modules/bootstrap/scss/bootstrap";

/* * * * * * * * * * * * * */
/*  GLOBAL THEME STYLING   */
/* * * * * * * * * * * * * */

.App {
  // Dynamic padding according to navbar height
  margin-top: $nav-link-height + $nav-link-padding-y * 2;
}

.hint-checkbox {
  border-left: 2.5px solid $info;
  padding: 2.5px 8px;
}
