// Color system
$white: #fff !default;
$gray-100: #f7fafa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #6c757d !default;

$primary: #2cb7c3 !default;
$secondary: #183d62 !default;
$success: #99d1d4 !default;
$info: #e4722d !default;
$warning: #99d1d4 !default;

$danger: #f55e59 !default;
$light: $gray-100 !default;
$dark: $gray-700 !default;
 